<%= simple_form_for(@news, as: "news", url: @news.new_record? ? '/admin/news' : admin_news_path(@news), html: {class: "form-horizontal"}) do |f| %>
<% @news.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
<%= f.input :title, label: '标题' %>
<%= f.input :content, as: :kindeditor, label: '内容', input_html: {window_onload: true, filterMode: false} %>
<%= f.input :summary, label: '简介(可选)' %>
<%= f.input :video, label: '视频' %>
<%= f.input :sort, label: '位置权重' %>
<%= f.input :published_at, label: '发布时间', include_seconds: true %>
<%= f.input :source, label: '来源' %>
<%= f.input :cover, label: '封面图(可选)(310x160)' %>
<div class="control-group">
  <div class="controls">
    <%= f.button :submit, "保存" %>
  </div>
</div>
<% end %>