<%= simple_form_for(@photo, as: "photo", url: @photo.new_record? ? admin_photos_path : admin_photo_path(@photo), html: {class: "form-horizontal"}) do |f| %>
<% @photo.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
<%= f.input :title, label: '标题' %>
<%= f.input :photo, label: '正文大图' %>
<%= f.input :sort, label: '位置权重' %>

<div class="control-group">
  <div class="controls">
    <%= f.button :submit, "保存" %>
  </div>
</div>
<% end %>