<div class="wrap">
  <!-- header -->
  <%= render "header" %>
  <!-- main-content -->
  <div class="main-content clearfix">
    <div class="news-content">
      <!-- 两种状态：没图的news-list和有图的news-list-img -->
      <% @news.each do |news| %>
      <% if news.cover.present? %>
      <div class="news-list-img clearfix">
        <div class="news-left">
          <h2><%= link_to news.title, news %></h2>
          <p><%= strip_tags(news.content).truncate(350) %><%= link_to '［详情］', news %></p>
          <p class="news-info">
            <span>发布日期：<%= news.published_at.strftime('%Y.%m.%d') rescue nil %></span>
            <% if news.source.present? %><span>来源：<%= news.source %></span><% end %>
            <a href="#"><i class="fa fa-heart"></i><%= news.star || 0 %></a>
            <a href="#"><i class="fa fa-share-alt"></i>分享</a>
          </p>
        </div>
        <div class="news-right">
          <%= link_to image_tag(news.cover_url(:on_use)), news %>
        </div>
      </div>
      <% else %>
      <div class="news-list">
        <h2><%= link_to news.title, news %></h2>
        <p><%= strip_tags(news.content).truncate(500) %><%= link_to '［详情］', news %></p>
        <p class="news-info">
          <span>发布日期：<%= news.published_at.strftime('%Y.%m.%d') rescue nil %></span>
          <% if news.source.present? %><span>来源：<%= news.source %></span><% end %>
          <a href="#"><i class="fa fa-heart"></i><%= news.star || 0 %></a>
          <a href="#"><i class="fa fa-share-alt"></i>分享</a>
        </p>
      </div>
      <% end %>
      <% end %>
      <%= will_paginate @photos, previous_label: '上一页', next_label: '下一页' %>
    </div>
  </div>
</div>