<div class="wrap">
  <!-- header -->
  <%= render "header" %>
  <!-- main-content -->
  <div class="main-content clearfix">
    <div class="news-content-box">
      <h2 class="theme-title"><%= @news.title %></h2>
      <p class="news-info">
        <span>发布日期：<%= @news.published_at.strftime('%Y.%m.%d') rescue nil %></span>
        <% if @news.source.present? %><span>来源：<%= @news.source %></span><% end %>
        <a href="#"><i class="fa fa-heart"></i>0</a>
        <a href="#"><i class="fa fa-share-alt"></i>分享</a>
      </p>
      <div class="news-main">
        <%= raw @news.content %>
      </div>
    </div>
  </div>
</div>
