<div class="wrap">
  <!-- header -->
  <%= render "header" %>
  <!-- main-content -->
  <div class="main-content clearfix">
    <div class="news-content-box">
      <h2 class="theme-title"><%= @news.title %></h2>
      <div class="news-info">
        <span>发布日期：<%= @news.published_at.strftime('%Y.%m.%d') rescue nil %></span>
        <% if @news.source.present? %><span>来源：<%= @news.source %></span><% end %>
        <a href="javascript:void(0);" onclick="add_star(<%= @news.id %>)" id="add_star_<%= @news.id %>"><i class="fa fa-heart-o"></i><span id="span"><%= @news.star || 0 %></span></a>
        <div class="bshare-custom"><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到网易微博" class="bshare-neteasemb"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count">0</span></div>
      </div>
      <div class="news-main">
        <%= raw @news.content %>
      </div>
    </div>
    <% if @news.video.present? %>
    <div class="film">
      <video id="my_video_1" class="" preload="auto" width="720" controls autobuffer>  
        <source src="<%= "#{'http://cdn.truedream.com.cn' if ENV['RAILS_ENV'] == 'production'}#{@news.video}" %>" type='video/mp4'/>  
        <embed src="<%= "#{'http://cdn.truedream.com.cn' if ENV['RAILS_ENV'] == 'production'}#{@news.video}" %>" autostart="true" loop="true" width="720"></embed>
      </video>
    </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  function add_star(article_id){
    var score = $("#add_star_" + article_id + " #span").text();
    $.ajax({
      type: 'get',
      url: '/ajax/add_star',
      data: { article_id: article_id },
      success: function(){
        $("#add_star_" + article_id).html('<i class="fa fa-heart"></i><span>' + (parseInt(score) + 1) + '</span>')
      }
    });
  }
</script>