<div class="wrap">
	<!-- header -->
	<%= render "header" %>
	<%= stylesheet_link_tag 'lightbox', media: 'all' %>
	<!-- main-content -->
	<div class="main-content clearfix">
		<div class="image-set">
			<!-- href里是大图的路径，尺寸要求：任何比例尺寸； src是小图路径，尺寸要求：250*360px  -->
			<% @photos.each do |photo| %>
			<a class="example-image-link" href="<%= image_url photo.photo_url %>" data-lightbox="example-set" data-title="<%= photo.title %>">
				<%= image_tag photo.photo_url(:on_use) %>
			</a>
			<% end %>
		</div>
	</div>
</div>
<% content_for :js do %>
<%= javascript_include_tag 'lightbox' %>
<script type="text/javascript">
	$(function(){
		$(".image-set > a:nth-child(3n)").css({"margin-right":0});
		var aW = $(".image-set > a").width();
		$(".image-set > a").css({"height":aW*1.44});
	})
</script>
<% end %>
