<div class="header">
  <div class="nav clearfix">
    <div class="logo">
      <a href="/"><%= image_tag "logo.jpg" %></a>
    </div>
    <ul class="nav-ul">
      <li <% if current_page?(controller: 'videos') %>class="active"<% end %>><%= link_to "大会视频", videos_path %></li>
      <li <% if current_page?(controller: 'photos') %>class="active"<% end %>><%= link_to "大会图片", photos_path %></li>
      <li <% if current_page?(controller: 'biographies', action: 'show') %>class="active"<% end %>><%= link_to "关于她", biography_path %></li>
      <li <% if current_page?(controller: 'contacts', action: 'show') %>class="active"<% end %>><%= link_to "联系我们", contact_path %></li>
    </ul>
  </div>
</div>