<div class="header">
  <div class="nav clearfix">
    <div class="logo">
      <a href="/"><%= image_tag "logo.jpg" %></a>
    </div>
    <ul class="nav-ul">
      <li <% if current_page?('/') %>class="active"<% end %>><%= link_to "首页", "/" %></li>
      <li <% if current_page?(controller: 'videos') %>class="active"<% end %>><%= link_to "大会视频", videos_path %></li>
      <li <% if current_page?(controller: 'photos') %>class="active"<% end %>><%= link_to "大会图片", photos_path %></li>
      <li <% if current_page?(controller: 'news') %>class="active"<% end %>><%= link_to "大会新闻", news_index_path %></li>
      <li <% if current_page?(controller: 'biographies', action: 'show') %>class="active"<% end %>><%= link_to "关于她", biography_path %></li>
      <li <% if current_page?(controller: 'contacts', action: 'show') %>class="active"<% end %>><%= link_to "联系我们", contact_path %></li>
    </ul>
    <!-- <ul class="nav-ul">
      <li class="active"><a href="home.shtml"><span>首页</span><em>Home</em></a></li>
      <li><a href="index.shtml"><span>大会视频</span><em>Video</em></a></li>
      <li><a href="images.shtml"><span>大会图片</span><em>Picture</em></a></li>
      <li><a href="news.shtml"><span>大会新闻</span><em>News</em></a></li>
      <li><a href="info.shtml"><span>关于她</span><em>About</em></a></li>
      <li><a href="contact.shtml"><span>联系我们</span><em>Contact</em></a></li>
    </ul> -->
  </div>
</div>