<%= simple_form_for(@video, as: "video", url: @video.new_record? ? admin_videos_path : admin_video_path(@video), html: {class: "form-horizontal"}) do |f| %>
<% @video.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
<%= f.input :title, label: '标题' %>
<%= f.input :cover, label: '封面(310x160)' %>
<%= f.input :video, label: '视频' %>
<%= f.input :sort, label: '位置权重' %>

<div class="control-group">
  <div class="controls">
    <%= f.button :submit, "保存" %>
  </div>
</div>
<% end %>