<!DOCTYPE html>
<html>
<head>
  <title>True Dream</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1" name="viewport">     
  <meta content="yes" name="apple-mobile-web-app-capable">     
  <meta content="black" name="apple-mobile-web-app-status-bar-style">     
  <meta content="telephone=no" name="format-detection">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= render "ie" %>
</head>
<body>
  <%= yield %>
  <%= javascript_include_tag 'application' %>
  <%= yield :js %>
</body>
</html>
